/*      Some basics resets      */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*      Typography      */
//  Body
body {
  font-size: 2.5vh;
  font-family: "Karla", serif;
  font-weight: 400;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

h2 {
  font-size: 5.5vh;
  text-align: center;
  line-height: 1;
}

h4 {
  font-size: 3.5vh;
}

p {
  line-height: 1.5;
  text-align: center;
  word-spacing: 1px;
}

nav a,
nav p {
  text-transform: uppercase;
}

nav li {
  list-style: none;
}

/*      Some variables      */
//    Colors

//  Primary

$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
$black: #000;
//  Neutral

$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);

/*      Some mixings      */
@mixin container($width, $mt: 0) {
  width: $width;
  margin: $mt auto;
}

@mixin flex() {
  display: flex;
}

@mixin flexAlignCenter {
  @include flex();
  align-items: center;
}

@mixin flexRowCenter($just-content, $align-items) {
  @include flex();
  flex-direction: row;
  align-items: $align-items;
  justify-content: $just-content;
}

@mixin flexJustifySpaceBetween {
  @include flexAlignCenter();
  justify-content: space-between;
  align-items: center;
}

@mixin flexJustifyCenter {
  display: flex;
  justify-content: center;
}

@mixin flexFullCenter($direction: row) {
  @include flex();
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin paddingX($num) {
  padding-left: $num;
  padding-right: $num;
}

@mixin paddingY($num) {
  padding-top: $num;
  padding-bottom: $num;
}

/*    Some helper classes     */
.border {
  border: 3px solid black;
}

.px--1 {
  @include paddingX(1rem);
}

.px--2 {
  @include paddingX(2rem);
}

.px--3 {
  @include paddingX(3rem);
}

.py--1 {
  @include paddingY(1rem);
}

.py--2 {
  @include paddingY(2rem);
}

.py--3 {
  @include paddingY(3rem);
}

.pl--1 {
  padding-left: 1rem;
}

.pr--1 {
  padding-right: 1rem;
}

.pt--1 {
  padding-top: 1rem;
}

.pb--1 {
  padding-bottom: 1rem;
}

.pl--2 {
  padding-left: 2rem;
}

.pr--2 {
  padding-right: 2rem;
}

.pt--2 {
  padding-top: 2rem;
}

.pb--2 {
  padding-bottom: 2rem;
}
