.button {
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-weight: 700;

  &--primary {
    border: 2px solid $veryLightGray;
    color: $veryLightGray;
  }

  &--secondary {
    border: 2px solid $black;
    color: $black;
  }
}

.card {
  @include flexFullCenter(column);
  margin-bottom: 3rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__body {
    color: $darkGrayishViolet;
  }

  & > * {
    margin-bottom: 1rem;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
