.header {
  position: relative;
  padding: 1rem;
  @include flexJustifySpaceBetween();

  &__hamburguerIcon {
    cursor: pointer;
  }

  &__nav {
    position: absolute;
    bottom: -576px;
    left: 0;
    width: 100%;
    height: 90vh;
    @include flexJustifyCenter;
    background-image: url("../images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: $darkViolet;
    padding-top: 3rem;
    transition: all 0.5s ease-in-out;

    li {
      margin-bottom: 2.5rem;
      text-align: center;
    }

    a {
      color: $veryLightGray;
      font-size: 24px;
      padding: 0.5rem 5rem;
    }

    @media screen and (max-width: 768px) {
      & {
        transform: translateX(360px);
      }

      &--active {
        transform: translateX(0);
      }
    }
  }
}

.hero-section {
  background: url("../images/image-intro-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 70vh;
}

.info-section {
  background: url("../images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;

  background-color: $darkViolet;
  color: $veryLightGray;
  height: 70vh;
  @include flexFullCenter();

  div {
    @include container(90%);
    @include flexFullCenter(column);

    & > * {
      margin-bottom: 2rem;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

.features-section {
  div {
    @include container(90%);
    padding: 3rem 0;
  }
}

.about-section {
  div {
    @include container(85%);
    @include flexFullCenter(column);
    padding: 3rem 0;
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-color: $darkViolet;

    h2 {
      color: $veryLightGray;
    }

    & > * {
      margin-bottom: 2rem;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

.footer {
  @include flexFullCenter(column);

  &__socialMedia {
    @include flexFullCenter(column);
    align-self: stretch;
    background: url("../images/bg-pattern-footer-mobile.svg");
    height: 200px;

    & > div {
      @include flexJustifySpaceBetween;
      padding: 0.5rem 0;
      width: 200px;
    }

    a {
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 1px;
    width: 70%;
    border: none;
    background-color: #e1e1e1;
  }
  &__nav {
    padding: 3rem 0;

    ul {
      @include flexFullCenter(column);

      p {
        color: $darkGrayishViolet;
        font-size: 18px;
        margin-bottom: 2rem;
      }

      li {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        color: $black;
      }
    }

    & > * {
      margin-bottom: 2rem;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}
