.header {
  padding: 1rem;
  @include flexJustifySpaceBetween();

  &__nav {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.hero-section {
  background: url("../images/image-intro-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 70vh;
}

.info-section {
  background: url("../images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left;

  background-color: $darkViolet;
  color: $veryLightGray;
  height: 70vh;
  @include flexFullCenter();

  div {
    @include container(90%);
    @include flexFullCenter(column);

    & > * {
      margin-bottom: 2rem;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

.features-section {
  div {
    @include container(90%);
    padding: 3rem 0;
  }
}

.about-section {
  div {
    @include container(85%);
    @include flexFullCenter(column);
    padding: 3rem 0;
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-color: $darkViolet;

    h2 {
      color: $veryLightGray;
    }

    & > * {
      margin-bottom: 2rem;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
}
